.menu-item{
    text-decoration: none;
    color: #f8f8f8;
    padding: 6px 10px;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.menu-item:hover{
    color: rgb(44, 200, 248);
}
.navBar{
    box-shadow: 3px 3px 10px #ebebebe7;
}
.navBg{
    background-color: transparent;
}